.back {
    -fx-background-image: url('../deckMenuImages/back.jpg');
}

.button {
    -fx-background-color: transparent;
    -fx-background-image: url(../deckMenuImages/button.png);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 134px 56px;
    -fx-font-family: "Comic Sans MS";
}

.button:hover {
    -fx-cursor: hand;
    -fx-background-image: url(../deckMenuImages/blueButton.png);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 134px 56px;
    -fx-font-family: "Comic Sans MS";
}

.scroll-pane {
    -fx-background-color: rgba(0 ,0 , 0 ,0.7);
    -fx-background-radius: 0px 15px 15px 0px;
}

.label {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 18px;
}

.scroll-pane .scroll-bar {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#yesNoBack {
    -fx-background-image: url(../deckMenuImages/yesNoBack.jpg);
}

#mainDeckBack , #sideDeckBack {
    -fx-background-color: rgba(0 ,0 , 0 ,0.5);
}

#cardVBox {
    -fx-background-color: transparent;
}

#cardShowZone {
    -fx-background-color: rgba(0 ,0 , 0 ,0.7);
    -fx-background-radius: 15px 0px 0px 15px;
}